/* *{
    border: 1px solid red;
    box-sizing: border-box;
} */

body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0;
    font-family: Roboto;
    min-height: 100vh;
}

.body-1, .body-2, .body-3, .body-4{
    flex: auto;
    /* border: 2px solid green; */
}
.header, .body-1, .footer{
    background-color: #1F2937;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 100px;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.header ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 15px;
}
.header a{
    text-decoration: none;
}


.body-1{
    display: flex;
    padding: 80px 100px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    
}
.body-1>div{
    display: flex;
}
.b1-header{
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 250px;
    width: 400px;
}
.b1-img-holder{
    flex: auto;
    height: 250px;
    width: 400px;
    line-height: 250px;
    background-color: gray;
    color: white;
    text-align: center;
}
.b1-header>button{
    padding: 8px 25px;
    border-radius: 5px ;
    flex-shrink: 0;
    background-color: #3882F6;
    color: white;
    font-weight: 800;
}
.b1-header :nth-child(1){
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.b1-header :nth-child(2), .header a{
    color: #e5e7eb;
    font-size: 18px;
}



.body-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 40px 60px;
    gap: 20px;
}
.b2-container{
    display: flex;
    gap: 25px;
}
.b2-container>div{
    width: 150px;
    text-align: center;
}
.b2-image-holder{
    border: 3px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.b2-container>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.h2-header{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}


.body-3{
    background-color: #e5e7eb;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-3>div{
    width: 700px;
}
.body-3>div :nth-child(1){
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
}
.body-3>div :nth-child(2){
    text-align: right;
    font-weight: 800;
}

.body-4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.b4-container{
    display: flex;
    flex: auto;
    height: 70px;
    max-width: 800px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 7px;
    background-color: #3882F6;
    color: white;
    padding: 15px;
}
.b4-container>div>span{
    font-size: 22px;
    font-weight: 900;
}
.b4-container button{
    padding: 8px 20px;
    border: white solid 2px;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
}


.footer{
    text-align: center;
    padding: 20px;
    color: #f9faf8;
}